<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-horizontal" }) do |f| %>

  <div class="control-group <%= 'error' if resource.errors.has_key? :username %>">
    <%= f.label :username, class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :username %>
      <% if resource.errors.has_key? :username %><span class="help-inline"><%=  resource.errors.get(:username)[0] %></span><% end %>
    </div>
  </div>

  <div class="control-group <%= 'error' if resource.errors.has_key? :email %>">
    <%= f.label :email, class: 'control-label' %>
    <div class='controls'>
      <%= f.email_field :email %>
      <% if resource.errors.has_key? :email %><span class="help-inline"><%=  resource.errors.get(:email)[0] %></span><% end %>
    </div>
  </div>

  <% if resource.password_required? %>
      <div class="control-group <%= 'error' if resource.errors.has_key? :password %>">
        <%= f.label :password, class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password %>
          <% if resource.errors.has_key? :password %><span class="help-inline"><%=  resource.errors.get(:password)[0] %></span><% end %>
        </div>
      </div>

      <div class="control-group <%= 'error' if resource.errors.has_key? :password_confirmation %>">
        <%= f.label :password_confirmation, class: 'control-label' %>
        <div class="controls">
          <%= f.password_field :password_confirmation %>
          <% if resource.errors.has_key? :password_confirmation %><span class="help-inline"><%=  resource.errors.get(:password_confirmation)[0] %></span><% end %>
        </div>
      </div>
  <% end %>

  <div class="form-actions"><%= f.submit "Sign up", class: 'btn btn-primary' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
