<h1>New comment</h1>

<%= render 'form' %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#comment_body').ckeditor(function(){/* callback code */}, { toolbar: 'Basic'});
  });
</script>
