<div class='row'>
  <div class=span9>
    <h1><%= @sort_title %> Topics</h1>

    <ul class="nav nav-tabs">
      <li class="pull-right <%= "active" if controller.action_name == 'index' %>"><%= link_to 'All', topics_path %></li>
      <li class="pull-right <%= "active" if controller.action_name == 'recent_tags' %>"><%= link_to 'Recent', recent_topics_path %></li>
      <li class="pull-right <%= "active" if controller.action_name == 'popular_tags' %>"><%= link_to 'Popular', popular_topics_path %></li>
    </ul>
  </div>
</div>
<div class="row">
    <ul class="grid-list topics-grid span9">
    <% @topics.each_with_index do |topic, index| %>
        <li class="well">
          <%= link_to "#{topic.name}", posts_by_tag_path(topic.name) %>
           <div><%= "#{topic.count} #{topic.count > 1 ? 'posts' : 'post'}" %></div>
        </li>
    <% end %>
    </ul>
</div>

<div class="row">
  <div class="span9">
    <%= paginate @topics %>
  </div>
</div>