<div class="post">
  <div class="post-title"><%= link_to post.title, post_path(post) %></div>
  <div class="post-info">by <strong><%= link_to post.user.username, member_path(post.user) %></strong> <%= post.user.rep %> posted: <%= distance_of_time_in_words_to_now post.created_at %> ago Comments: <%= post.comments.count %> Views: <%= post.view_count %> Up: <%= post.up_vote_count %> Down: <%= post.down_vote_count %> Counter Points: <%= post.counter_points.count %></div>
  <div class="tag-list">Topics: <%= post.tags.map(&:name).join(', ') %></div>
  <%#= link_to 'view', post_path(post) %>
</div>