<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#post_body').ckeditor(function(){/* callback code */}, { toolbar: 'Basic'});
  });
</script>
