<div class='row'>
  <div class="span9">
    <h1>Latest Discussions</h1>
    <ul class="nav nav-tabs">
      <li class="pull-right <%= "active" if controller.action_name == 'popular_posts' %>"><%= link_to 'Popular', popular_posts_path %></li>
      <li class="pull-right <%= "active" if controller.action_name == 'index' %>"><%= link_to 'Recent', posts_path %></li>
    </ul>
  </div>
</div>
<div style="clear: both;"></div>
<%= render :partial => 'post_synopsis', :collection => @posts, :as => :post %>
<%= paginate @posts %>

