<h1>New post</h1>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#post_body').ckeditor(function(){/* callback code */}, { toolbar: 'Basic', resize_enabled: false });
  });
</script>
