<div id="post-view-title">
<h1><%= @post.title %></h1>
<%= link_to @post.user.username, member_path(@post.user) %> <%= @post.user.rep %>  posted: <%= distance_of_time_in_words_to_now @post.created_at %> ago Comments: <%= @post.comments.count %> Views: <%= @post.view_count %> Up: <%= @post.up_vote_count %> Down: <%= @post.down_vote_count %>
<br />
Topics: <%= @post.tags.map(&:name).join(', ') %>
</div>

<div class="leaderboard-wrapper">
  <h3>Ad Content</h3>
</div>
<div class="post-body">
  <div><%= link_to 'Edit', edit_post_path(@post) if @post.user_can_edit?(@current_user) %></div>
  <%= @post.body.html_safe %>
</div>

<% if @post.user_can_vote?(@current_user) %>
    <p>
      <%= link_to 'Vote Up', vote_post_up_path(@post) %>
      <%= link_to 'Vote Down', vote_post_down_path(@post) %>
    </p>
<% end %>

<div><%= link_to 'Create Counterpoint', new_post_counterpoint_path(@post) if @post.user_can_post_counterpoint?(@current_user) %></div>

<% if @post.counter_points.size > 0 %>
    <h3 class="rule-header">Counter Points</h3>
    <% @post.counter_points.each do |counterpoint| %>
        <div class="post">
            <div class="post-title"><%= link_to counterpoint.title, post_path(counterpoint) %></div>
            <div class="post-info">by <strong><%= counterpoint.user.username %></strong> <%= counterpoint.user.rep %> on <%= l counterpoint.created_at %> Comments: <%= counterpoint.comments.count %> Views: <%= counterpoint.view_count %> Up: <%= counterpoint.up_vote_count %> Down: <%= counterpoint.down_vote_count %> Counter Points: <%= counterpoint.counter_points.count %></div>

            <%#= link_to 'view', post_path(post) %>
        </div>
    <% end %>
<% end %>

<% if not @post.comments.empty? %>
    <h3 class="rule-header">Comments</h3>
    <%# TODO remove? = link_to 'New Comment', new_post_comment_path(@post) %>
    <% if @post.comments.count > 0 %>
        <% @post.comments.each do |comment| %>
            <div class="comment-display <%= "comment-last" if comment == @post.comments.last %>">
                <div><strong><%= link_to comment.user.username, member_path(comment.user) %></strong> <%= comment.user.rep %>: posted <%= distance_of_time_in_words_to_now comment.created_at %> Up: <%= comment.up_vote_count %> Down: <%= comment.down_vote_count %></div>
                <p><%= comment.body.html_safe %></p>
                <% if comment.user_can_vote?(@current_user) %>
                    <p>
                      <%= link_to 'Vote Up', vote_comment_up_path(comment) %>
                      <%= link_to 'Vote Down', vote_comment_down_path(comment) %>
                    </p>
                <% end %>
            </div>
        <% end %>

    <% end %>
<% end %>
<hr />
<div id="comment-form">
  <h3>Your Comment</h3>
  <%= render 'comments/form' %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#comment_body').ckeditor(function(){/* callback code */}, { toolbar: 'Basic', resize_enabled: false });
  });
</script>
