/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
 *= require posts
*/




/*.leaderboard-wrapper {*/
    /*width: 720px;*/
    /*height: 90px;*/
    /*background-color: red;*/
    /*margin: 15px 0 15px 0;*/
/*}*/

/*#sidebar-ad-wrapper {*/
    /*width: 250px;*/
    /*height: 250px;*/
    /*background-color: red;*/
/*}*/

/*textarea {*/
    /*width: 720px;*/
/*}*/

/*.list-header ul {*/
    /*float: right;*/
/*}*/

/*.list-header li {*/
    /*list-style-type: none;*/
    /*display: inline-block;*/
/*}*/

/*.list-header h1 {*/
    /*float: left;*/
/*}*/

/*.list-grid li {*/
    /*display: inline-block;*/
    /*padding-left:5px;*/
    /*margin-bottom: 5px;*/
/*}*/

/*.topics-grid li {*/
    /*width: 169px;*/
    /*height: 30px;*/
    /*border: 1px solid #708090;*/
    /*background-color: silver;*/
/*}*/

/*.members-grid li, .organizations-grid li {*/
    /*width: 229px;*/
    /*height: 75px;*/
    /*border: 1px solid #708090;*/
    /*background-color: silver;*/
/*}*/

/*ul li {*/
    /*list-style-type: none;*/
/*}*/