#logo-wrapper {
    background-color: red;
    width: 80px;
    height: 80px;
    margin: 10px 0 10px 0;
    float: left;
}

.leaderboard-wrapper {
    width: 720px;
    height: 90px;
    background-color: red;
    margin: 15px 0 15px 0;
}

#sidebar-ad-wrapper {
    width: 250px;
    height: 250px;
    background-color: red;
}

#header-post-create-btn {
    margin-top: 30px;
}

.grid-list li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 9px 0;
}

.topics-grid li {
    width: 169px;
    height: 30px;
}

.members-grid li, .organizations-grid li {
    width: 229px;
    height: 75px;
}