.post {
    margin:  7.5px 0;
    padding-bottom: 7.5px;
    border-bottom: 1px solid black;
}

.post-title {
    font-weight: bold;
}

.post-info {
    font-size: 10px;
}

//#post-view-title {
//    border-bottom: 1px solid black;
//    padding: 0 0 5px 0;
//}
//
//.rule-header {
//    border-bottom: 1px solid black;
//}
//
//.post-body {
//    margin: 0 0 15px 0;
//}
//
//.post-body p {
//    margin: 5px 0;
//}
//
//.comment-display {
//    margin: 7.5px 0;
//    border-bottom: 1px solid black;
//    padding-bottom: 7.5px;
//}
//.comment-last {
//    border-bottom: none;
//}
//
//#comment-form h3 {
//    margin-bottom: 10px;
//}