<div class="row">
  <div class="span9">
    <h1>Unlocked Achievements</h1>
    <hr />
  </div>
</div>

<div class="row">
    <ul class="grid-list topics-grid span9">
        <% @unlocked_achievements.each do |achievement| %>
            <li class="well"><%= link_to achievement.name, achievement_path(achievement) %> x <%= achievement.user_count %></li>
        <% end %>
    </ul>
</div>

<div class="row">
  <div class="span9">
    <h1>Locked Achievements</h1>
    <hr />
  </div>
</div>

<div class="row">
    <ul class="grid-list topics-grid span9">
        <% @locked_achievements.each do |achievement| %>
            <li class="well"><%= link_to achievement.name, achievement_path(achievement) %> <%= achievement.rep_bonus %> Rep Bonus</li>
        <% end %>
    </ul>
</div>
