<h1><%= @achievement.name %></h1>
<p><%= @achievement.description %></p>

<ul>
  <% @achievement.users.each do |user| %>
    <li><%= link_to user.username, member_path(user) %></li>
  <% end %>
</ul>
