<div class="row">
  <div class="span9">
    <h1>Organizations</h1>

    <ul class="nav nav-tabs">
      <li class="pull-right <%= "active" if controller.action_name == 'index' %>"><%= link_to 'All', organizations_path %></li>
      <li class="pull-right <%= "active" if controller.action_name == 'recent_organizations' %>"><%= link_to 'Recent', recent_organizations_path %></li>
      <li class="pull-right <%= "active" if controller.action_name == 'top_organizations' %>"><%= link_to 'Reputation', top_organizations_path %></li>
    </ul>
  </div>
</div>

<div class="row">
    <ul class="grid-list organizations-grid">
    <% @organizations.each do |organization| %>
        <li class="well">
            <%= link_to organization.name, organization_path(organization) %>
            <br /><%= organization.affiliations.count %> Members
            <br /><%= organization.rep %> Reputation
        </li>
    <% end %>
    </ul>
</div>

<%= link_to 'New Organization', new_organization_path, class: 'btn' %>
