<h1><%= @organization.name %></h1>
<div><span>Stats: </span> <%= @organization.affiliations.count %> members, <%= @organization.rep %> Reputation</div>
<hr />
<p><%= @organization.description.html_safe %></p>

<%= link_to 'Back', organizations_path %>
<% if user_signed_in? %>
    <%= link_to 'Edit', edit_organization_path(@organization) if @organization.user_can_edit?(current_user) %>
    <%= link_to 'Join', join_organization_path(@organization) if not @organization.user_is_a_member?(current_user) %>
<% end %>
