<!DOCTYPE html>
<html lang="en">
<head>
  <title>Popdisco</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{controller.controller_name}_#{controller.action_name}" %>">
    <!--<p class="notice"><%= notice %></p>-->
    <!--<p class="alert"><%= alert %></p>-->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <%=  link_to 'Popdisco', root_path, class: 'brand' %>
            <div class="container">
              <ul class="nav">
              <% if user_signed_in? %>
                <li><%= link_to current_user.username, member_path(current_user) %> <%= current_user.rep %></li>
                <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
              <% else %>
                <li><%= link_to 'Sign In',  new_user_session_path %></li>
              <% end %>
              <li><%= link_to 'Articles', root_path %></li>
              <li><%= link_to 'Topics', popular_topics_path %></li>
              <% if user_signed_in? %><li><%= link_to 'Members', top_members_path %></li><% end %>
              <li><%= link_to 'Organizations', top_organizations_path %></li>
              <li><%= link_to 'Achievements', achievements_path %></li>
            </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
              <div class="span2">
                  <div id="logo-wrapper">
                    <%= link_to 'Logo', root_path, id: 'logo-home-link' %>
                  </div>
              </div>
              <div class="span2 offset8"><%= link_to 'Create Post', new_post_path, id: 'header-post-create-btn', class: 'btn btn-primary btn-large' %></div>
        </div>
        <div class="row">
          <div class="span9"><%= yield %></div>
          <div class="span3">
            <div id='sidebar-ad-wrapper'>
              <h3>sidebar ad</h3>
            </div>
            <div id='recent-tags-wrapper'>
              <h3>Recent Topics</h3>
              <ul>
                <% recent_tags.each do |tag| %>
                    <li><%= link_to "#{tag.name} (#{tag.count})", posts_by_tag_path(:tag => tag.name) %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
    </div>

    <div style="clear:both;"></div>
    <div id="footer">
      <p>Some Footer Stuff</p>
    </div>
</body>
</html>
