<div class="list-header">
    <h1>Members</h1>
    <ul>
        <li><%= link_to 'Reputation', top_members_path %></li>
        <li><%= link_to 'Recent', recent_members_path %></li>
        <li><%= link_to 'Name', members_path %></li>
    </ul>
</div>
<div style="clear: both"></div>
<hr />
<ul class="list-grid members-grid">
<% @members.each do |member| %>
    <li>
        <%= link_to member.username, member_path(member) %>
        <div><%= member.rep %> Rep</div>
        <div><%= "#{member.achievements.size} #{(member.achievements.size > 1 or member.achievements.size == 0) ? 'Achievements' : 'Achievement'}" %></div>
        <div><%= "#{member.posts.size} #{(member.posts.size > 1 or member.posts.size == 0) ? 'Posts' : 'Post' }" %></div>
        <%= image_tag member.avatar.url(:icon), float: 'right' %>
    </li>
<% end %>
</ul>
