<h1>Member Profile For <%= @member.username %></h1>
<hr />
<% if user_signed_in? and @member.eql? current_user %>
    <%= link_to 'Edit Profile', edit_user_profile_path(@member.user_profile) if not @member.user_profile.nil? %>
    <%= link_to 'Create Profile', new_user_profile_path if @member.user_profile.nil? %>
<% end %>

<% if @member.avatar %>
    <%= image_tag @member.avatar.url %>
<% end %>

<% if not @member.user_profile.nil? %>
    <div>
      Name: <%= @member.user_profile.name %>
    </div>

    <div>
      Website: <%= @member.user_profile.website %>
    </div>

    <div>
      Age: <%= distance_of_time_in_words_to_now( @member.user_profile.birthday ) %>
    </div>

    <div>
      Location: <%= @member.user_profile.location %>
    </div>

    <div>
      Bio: <%= @member.user_profile.bio.html_safe %>
    </div>
<% end %>


<% if not @member.organizations.empty? %>
<h2>My Organizations</h2>
<hr />
<ul>
  <% @member.organizations.each do |org| %>
    <li><%= link_to org.name, organization_path(org) %></li>
  <% end %>
</ul>
<% end %>

<h2>My Achievements</h2>
<hr />
<ul>
  <% @member.achievements.each do |achievement| %>
    <li><%= link_to achievement.name, achievement_path(achievement) %></li>
  <% end %>
</ul>

<h2>My Articles</h2>
<hr />
<%= render :partial => 'posts/post_synopsis', :collection => @member.posts, :as => :post %>
